html {
  scroll-snap-type: both mandatory;
  margin: 0;
  padding: 0;
}

body {
  --black: #000000;
  --white: #fafafa;
  --sky: #f0f2f5;
  --red: #8b0000;

  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1ex;
}

h1 {
  font-size: 40px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;

  @media (max-width: 400px) {
    font-size: 30px;
  }
}

h2 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 15px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--white);
}

section {
  height: 100vh;
  position: relative;
}

a {
  color: inherit;
}

button {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
}

@media (max-width: 450px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 15px;
  }
}

.not-found {
  text-decoration: none;
}
